/* tailwind */
/******************************************************************************/
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ps-container {
    @apply mx-auto w-[95%] max-w-[1300px];
  }
}

/* global */
/******************************************************************************/
body {
  @apply bg-white text-base font-normal leading-6 text-ps-dark;
  font-family: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
}

*,
::before,
::after {
  background: none;
}

:focus {
  outline: 0 !important;
}

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

label,
small,
input,
textarea,
select,
button {
  display: block;
  width: 100%;
  flex-basis: max-content;
}

button {
  text-align: left;
  text-decoration: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
}

button,
select {
  cursor: pointer;
}

th {
  font-weight: inherit;
  text-align: left;
}

:disabled {
  cursor: not-allowed;
}

/* scrollbar */
/******************************************************************************/
::-webkit-scrollbar {
  @apply w-4;
}

::-webkit-scrollbar-track {
  @apply bg-gray-900;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-gray-700;
}
